.rating-card-icon,
.rating-card-ratings button {
  width: 3.25rem;
  border-radius: 50%;
  background-color: var(--neutral_light_dark_blue);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-card-title {
  font-family: var(--overpass_bold);
}

.rating-card-text {
  color: var(--neutral_medium_grey);
}

.rating-card-ratings {
  display: flex;
  justify-content: space-between;
}

.rating-card-ratings button {
  border: none;
  cursor: pointer;
  font-family: var(--overpass_bold);
  color: var(--neutral_medium_grey);
}

.rating-card-ratings button:hover {
  background-color: var(--neutral_light_grey);
  color: var(--neutral_white);
}

.rating-card-ratings .active {
  background-color: var(--primary_orange) !important;
  color: var(--neutral_white);
}

.rating-card-submit-button {
  font-family: var(--overpass_bold);
  font-size: 1rem;
  padding: 1rem 1.5rem;
  border: none;
  cursor: pointer;
  color: var(--neutral_white);
  background-color: var(--primary_orange);
  border-radius: var(--border_radius);
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.rating-card-submit-button:active {
  background-color: var(--neutral_white);
  color: var(--primary_orange);
}